@font-face {
	font-family: 'Visby Round';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/VisbyRoundCF-Regular.ttf');
}

@font-face {
	font-family: 'Visby Round';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/VisbyRoundCF-Oblique.ttf');
}

@font-face {
	font-family: 'Visby Round';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/VisbyRoundCF-Bold.ttf');
}

@font-face {
	font-family: 'Visby Round';
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/VisbyRoundCF-BoldOblique.ttf');
}

@font-face {
	font-family: 'Visby Round';
	font-weight: bolder;
	font-style: normal;
	src: url('../fonts/VisbyRoundCF-Heavy.ttf');
}
